@import "variavel.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*  HOME   +   Header  + Logo-nav    */

.container {
    background-color: var(--primary-color);
    
}
.home {
    max-width: 1380px;
    min-width: 450px;
    height: 100vh;
    min-height: 350px;
}


.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    font-family: var(--first-font);
    font-size: 1.3rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 03s ease-out;
}
.header .logo:hover h2 {
    color: var(--secondary-color);
}
.header .logo:hover span {
    color: #fff;
}
.header .logo h2 {
    color: #fff;
}
.header .logo span {
    color: var(--secondary-color);
}


.header .navbar ul {
    display: flex;
    list-style: none;
}
.header .navbar li {
    margin: 0px 10px;
    padding: 3px;
    transition: all .9s ease;
}
.header .navbar a:hover {
    color: var(--therdy-color);
}
.header .navbar a {
    color: #fff;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .4s ease;
}

/*  HOME   +   Title  + Image    */


.title-image {
    display: flex;
    background: url(../img/young\ maylon\ armcrossed.png) no-repeat top;
    height: 100vh;
    min-height: 500px;
}
.title-image .title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-image .title .text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    height: 100%;
    font-family: var( --first-font);
    color: #fff;
}
.title-image .title .text-btn p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.title-image .title .text-btn h1 {
    font-size: 2.7rem;
    letter-spacing: 1px;
}
.title-image .title .text-btn h2 {
    font-size: 1.8rem;
    font-weight: 400;
}
.title-image .title .text-btn button {
    padding: 12px;
    margin-top: 20px;
    background-color: var(--therdy-color);
    color: #fff;
    font-size: 1.3rem;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.title-image .title .text-btn button:hover {
    background-color: var(--primary-color);
    border:1px solid var(--therdy-color);
    color: var(--therdy-color);
}


.title-image .title .text-btn2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
}
.title-image .title .text-btn2 a {
    margin: 30px;
    padding: 7px;
}
.title-image .title .text-btn2 ion-icon {
    color: var(--therdy-color);
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: all .3s ease;
}
.title-image .title .text-btn2 ion-icon:hover {
    color: #fff;
}


/*  ABOUT     */


.about {
    height: 100vh;
}
.about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid red;
    height: 100vh;
    background-color: #fff;
}
.about .perfil-sobre {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    width: 100%;
    margin: 30px auto;
}
.about .content-main {
    border: 3px solid green;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.about .content-main .image {
    border: 3px solid pink;
    background: url(../img/maylon-linkdin-removebg-preview.png) no-repeat center;
    height: 100vh;
    width: 50%;
    display: block;

}

.about .content-main .text-btn {
    border: 3px solid purple;
    width: 50%;
}