@import "variavel.css";
@import "keyframe.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

/*  HOME   +   Header  + Logo-nav    */

.container {
    background-color: var(--primary-color);    
}
.home {
    max-width: 1920px;
    min-width: 1260px;
    height: 100vh;
    min-height: 350px;
}


.header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}
.header.sticky {
    background: var(--therdy-color);
    padding: 20px 0;
}

.header .logo {
    font-family: var(--first-font);
    font-size: 1.3rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 03s ease-out;
}
.header .logo:hover h2 {
    color: var(--secondary-color);
}
.header .logo:hover span {
    color: #fff;
}
.header .logo h2 {
    color: #fff;
}
.header .logo span {
    color: var(--secondary-color);
    transition: all 0.3s ease;
}
.header.sticky .logo span {
    color: #fff;
}

.header .navbar ul {
    display: flex;
    list-style: none;
}
.header .navbar li {
    margin: 0px 10px;
    padding: 3px;
    transition: all .9s ease;
}
.header .navbar a:hover {
    color: var(--therdy-color);
}
.header.sticky .navbar a:hover {
    color: var(--primary-color);
}
.header .navbar a {
    color: #fff;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .4s ease;
    font-weight: bold;
}

/*  MENU - MOBILE --> BURGUER   */
.menu-btn {
    cursor: pointer;
    color: #fff;
    font-size: 26px;
    display: none;
    background-color: transparent;
    border: none;
}




/*  HOME   +   Title  + Image    */


.title-image {
    display: flex;
    background:  url(../img/young\ maylon\ armcrossed.png);
    background-repeat: no-repeat;
    background-position: 650px, right;
    height: 100vh;
    min-height: 500px;
}
.title-image .title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-image .title .text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    height: 100%;
    font-family: var( --first-font);
    color: #fff;
    opacity: 0;
}
.title-image .title .text-btn p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.title-image .title .text-btn h1 {
    font-size: 2.7rem;
    letter-spacing: 1px;
}
.title-image .title .text-btn h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.title-image .title .slide-right {
    animation: slider 1.7s linear forwards;
} 

.text-btn h1.slide-right {
    animation-delay: 1s;
}

.text-btn h2.slide-right {
    animation-delay: 1.6s;
}

.text-btn #btn-home.slide-right {
    animation-delay: 3.5s;
}


.title-image .title .text-btn button {
    padding: 12px;
    margin-top: 20px;
    background-color: var(--therdy-color);
    color: #fff;
    font-size: 1.3rem;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.title-image .title .text-btn button:hover {
    background-color: var(--primary-color);
    border:1px solid var(--therdy-color);
    color: var(--therdy-color);
}


.title-image .title .text-btn2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
}
.title-image .title .text-btn2 a {
    margin: 30px;
    padding: 7px;
}
.title-image .title .text-btn2 ion-icon {
    color: var(--therdy-color);
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: all .3s ease;
}
.title-image .title .text-btn2 ion-icon:hover {
    color: #fff;
}


/*  ABOUT     */


.about {
    height: 100vh;
}
.about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.about .perfil-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:10vh;
    width: 100%;
    margin: 10px auto;
}
.about .perfil-sobre h1 {
    font-size: 2.5rem;
    margin-top: 60px;
}
.about .perfil-sobre h3 {
    font-size: 1.6rem;
    color: var(--secondary-color);
}

/*  ADICIONAR O BEFORE E O AFTER NO H3  */

.about .content-main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.about .content-main .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
}
.about .content-main .image img {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.6);
    background-color: rgba(151, 146, 146, 0.76);
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.anima-text {
    animation: slider 1.6s linear forwards;
}

.about .content-main .text-btn {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.about .content-main .text-btn h2 {
    font-size: 1.6rem;
    margin: 10px 0;
}
.about .content-main .text-btn span {
    color: var(--secondary-color);
}
.about .content-main .text-btn p {
    line-height: 25px;
    font-size: 1rem;
    margin-bottom: 20px;
    overflow-x: hidden;
    padding: 5px;
    opacity: 0;
}
.about .content-main .text-btn button {
    padding: 12px;
    background-color: var(--therdy-color);
    color: #fff;
    font-size: 1.3rem;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.about .content-main .text-btn button:hover {
    background-color: #fff;
    border:2px solid var(--therdy-color);
    color: var(--therdy-color);
    font-weight: bold;
}


/*  EXPERIÊNCIA - HABILIDADES  */


.experience {
    background-color: var(--primary-color);
    height: 100vh;
}

.experience .perfil-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:10vh;
    width: 100%;
    margin: 10px auto;
}
.experience .perfil-sobre h1 {
    font-size: 2rem;
    margin-top: 60px;
    color: #fff;
}
.experience .perfil-sobre h3 {
    font-size: 1.6rem;
    color: var(--secondary-color);
}

/*  EXPERIÊNCIA - CAIXA  */

.experience .hability-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}



.experience .hability-content .hability01 {
    border-radius: 8px;
    width: 400px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-light-color);
}
.experience .hability-content .hability01 .icons {
    border-radius: 20px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}
.experience .hability-content .hability01 h3 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
}
.experience .hability-content .hability01 ion-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}
.experience .hability-content .hability01 .icons ion-icon:first-child{
    color: rgb(151, 103, 14);
}
.experience .hability-content .hability01 .icons ion-icon:last-child{
    color: rgb(61, 61, 240);
}
.experience .hability-content .hability01 .text-box {
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}


.experience .hability-content .hability02 {
    border-radius: 8px;
    width: 400px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-light-color);
    margin: 0 20px;
}
.experience .hability-content .hability02 .icons {
    border-radius: 20px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}
.experience .hability-content .hability02 h3 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}
.experience .hability-content .hability02 .icons ion-icon:first-child{
    color: green;
}
.experience .hability-content .hability02 .icons ion-icon:last-child{
    color: orange;
}
.experience .hability-content .hability02 ion-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}
.experience .hability-content .hability02 .text-box {
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}


.experience .hability-content .hability03 {
    border-radius: 8px;
    width: 400px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-light-color);
}
.experience .hability-content .hability03 h3 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}
.experience .hability-content .hability03 .icons {
    border-radius: 20px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}
.experience .hability-content .hability03 ion-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}
.experience .hability-content .hability03 .icons ion-icon:first-child{
    color: purple;
}
.experience .hability-content .hability03 .icons ion-icon:last-child{
    color: orangered;
}
.experience .hability-content .hability03 .text-box {
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}


/* PROJETOS */

.project {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .lista-projetos {
    border: 2px solid blue;
    margin: 40px auto;
}
.project .lista-projetos h1 {
    font-size: 2rem; 
    color: var(--secondary-color);
}

.project .project-container {
    border: 2px solid green;
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;
}

.project .project-container .project-box {
    border: 2px solid purple;
    background-color: cadetblue;
    border-radius: 7px;
    width: 200px;
    height: 250px;
    padding: 50px;
     margin: 0 auto;
}


/*  CONTATO */


.contato {
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
   
}

.contato .form-content {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 45px;
}
.contato .form-content h2 {
    font-size: 2rem;
    padding-bottom: 40px;
    position: relative;
}
.contato .form-content h2:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 15px;
    width: 20px;
    height: 4px;
    background: black;
}
.contato .form-content h2:after {
    content: '';
    position: absolute;
    right: -25px;
    top: 15px;
    width: 20px;
    height: 4px;
    background: black;
}

.contato .form-content form {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(90, 88, 88, 0.733);
    box-shadow: 0px 0px 17px 0px rgba(80, 2, 2, 0.5);
    border-radius: 8px;
    position: relative;
}
.contato .form-content form input#email {
    padding: 15px;
    border-radius: 12px;
    margin: 15px 0px;
    width: 350px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #333;
    color: white;
}
.contato .form-content form input#nome {
    padding: 15px;
    border-radius: 12px;
    margin: 15px 0px;
    width: 350px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    
}

.contato .form-content form #nome.error {
    border: 2px solid red;
}


.contato .form-content form input#tel {
    padding: 15px;
    border-radius: 12px;
    margin: 15px 0px;
    width: 350px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
}

.contato .form-content form #botao {
    cursor: pointer;
    padding: 10px 22px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    transition: all .3s ease;
}



















